body {

    font-family: Arial;

    background: #f4f4f4;

    margin: 0;

    padding: 0;
}

.container {

    width: 80%;

    margin: auto;

    margin-top: 30px;

    background: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {

    text-align: center;
}

input {

    width: 80%;

    padding: 12px;

    margin-top: 20px;

    font-size: 16px;
}

button {

    padding: 12px 20px;

    margin-top: 20px;

    cursor: pointer;

    font-size: 16px;
}

textarea {

    width: 100%;

    padding: 10px;

    font-size: 15px;
}

#loading {

    margin-top: 20px;

    color: blue;
}

#result {

    margin-top: 20px;
}

.history-card {

    border: 1px solid #ddd;

    padding: 15px;

    margin-top: 10px;

    border-radius: 5px;

    background: #fafafa;
}